body {
    margin: 0;
    font-family: Arial, sans-serif;
    /* Change the URL below to your desired background image */
    background-image: url('https://scontent.fmnl8-4.fna.fbcdn.net/v/t39.30808-6/524705162_2441623826214770_73208333764576046_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeHAxPeDJmHkvAZY-hpxME6mJhiAeFChdiYmGIB4UKF2JoWrE310P617JUNhx4GZbDMbaVhz3AP99Pu6iV3O2fOF&_nc_ohc=apE4Fu7E9RYQ7kNvwHdSLz2&_nc_oc=AdkBfZDkLv_gcXjK-QetZ3_dMup79xgh-n2_2cWu9v4IJooj9NXX_1zih9K5mVdOVE4&_nc_zt=23&_nc_ht=scontent.fmnl8-4.fna&_nc_gid=yj9FxywTLkYpmIXVj07cbA&oh=00_AfWGr34cQzowSosvL6qK5AIOi7ZPTVXn33XXQk2gFsDoaQ&oe=689D0300');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

nav {
    margin: 20px 0;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}